body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

header {
    background-color: #000;
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 2em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

#hero {
    height: 600px;
    background-image: url("../images/hands-typing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    max-width: 60%;
    color: white;
    text-shadow: 2px 4px 5px rgba(0,0,0,1);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.about-me-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about-me-container > div {
    align-self: center;
}

.about-me-container > img {
    align-self: end;
}

#services {
    background-color: #fafafa;
    padding: 2em;
}

#services h2 {
    max-width: 940px;
    text-align: center;
    margin-top: 0;
}

.services-container div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.services-container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    background-color: #fff;
}

.services-container article h3 {
    margin-bottom: 0;
}

.services-container article p {
    padding-bottom: 2em;
}

.services-container a:link,
.services-container a:visited {
    display: inline-block;
    padding: .8em 1em;
    background-color: #414361;
    color: white;
    text-decoration: none;
    border: 2px solid #414361;
    border-radius: 5px black;
    margin-top: auto;
}

.services-container a:hover,
.services-container a:focus {
    background-color: #fff;
    color: #414361;
}

#work h2 {
    max-width: 940px;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

#work p {
    max-width: 940px;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.work-container div {
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "b1 b1 b1 b2 b2 b2"
        "b3 b3 b4 b4 b5 b5"; 
}

.work-container :nth-child(1){
  grid-area: b1;
}

.work-container :nth-child(2){
  grid-area: b2;
}

.work-container :nth-child(3){
  grid-area: b3;
}

.work-container :nth-child(4){
  grid-area: b4;
}

.work-container :nth-child(5){
  grid-area: b5;
}

